.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px; /* Aumentado para acomodar o novo texto */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px; /* Mais preenchimento */
  position: absolute;
  z-index: 1;
  top: 150%; /* Posição abaixo do elemento */
  left: 50%;
  margin-left: -110px; /* Metade da nova largura */
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra para destaque */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%; /* Seta no topo */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
